.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50rem !important;
  background-color: #0d6efd;
  color: white;
  width: fit-content;
}

h2 {
  font-size: x-large;
  font-weight: 600;
  word-wrap: break-word;
  margin: 0;
}

.mainContent {
  flex: 1 0 auto;
  margin-top: auto;
  min-height: calc(100vh - var(--footer-height));
}

.newPortfolioAd {
  padding: 0.5rem 1.5rem;
  background-color: #343a42;
  position: fixed;
  width: 100vw;
  z-index: 100;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.newPortfolioAd > p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.newPortfolioAd > p > a {
  color: #66adff;
  text-decoration: none;
}